
      <%- include('./partials/navbar.ejs') %>
      <% allusers.forEach((item,index) => { %>
        <div class="container my-3 mx-auto card shadow">
          <h3 class="my-4 mx-auto"><span><%= item.firstname %></span> <span><%= item.lastname %></span> <span>is from <%= item.school %>.</span>
            <form action="/deleteUser" method="post">
              <input type="hidden" name="id" value="<%= item._id %>">
              <button class="fa fa-trash mx-4 border-0"></button>
            </form>
          </h3></div>
      <% }) %>
  </body>
</html>
